.app {
  margin: 0;
  padding:0;
  background-color: #ff8787;
  background-image: url('./mountain.jpg');
  width:50%;
  height:75vh;
  border-radius: 16px;
  text-align: center;
}

.location-box, .weather-box {
  color:#3A3A3A;
  font-size: 1.4rem;
  padding:1.2rem;
  margin:1.4rem;
}



















